html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  
}
.home-body {
  background: #333;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
  height: 100vh;
}
.boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: auto;
}
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .content {
    padding-top: 1em;
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}
.button {
  background: hotpink;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: .25em .75em;
  transition: all .25s ease-in;
  &:hover {
    background: white;
    border: 1px solid hotpink;
    color: #333;
  }
}


#sold{
  color: red;
  font-weight: bold;
}
.login-page {
  background-color: #c5c5c5;
  width: 100%;
  
  min-height: 400px;
  text-align: center;
  background-image: url('./img/FORD-Mustang.jpeg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  padding-top: 40px;
  font-size: 5.5rem;
  font-weight: bold;
}
input {
  font-size: 1.8rem;
  margin: 10px 0;
  border-radius: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: auto;
  padding-top: 60px;
}
.log-out {
  text-align: center;
  font-size: 1.2em;
  border-radius: 6%;
  &:hover {
    color: white;
    background-color: black;
  }
}